### Local server
SERVER_PORT=8999

### Security
SECURITY_ALLOWED_ORIGINS=*
KEYCLOAK_URL=https://auth.opendatahub.testingmachine.eu/auth
KEYCLOAK_SSL_REQUIRED=none
KEYCLOAK_REALM=noi
KEYCLOAK_CLIENT_ID=odh-mobility-writer

### Database (see persistence.xml for details; .properties values override .xml values)
POSTGRES_SERVER=test-pg-bdp.co90ybcr8iim.eu-west-1.rds.amazonaws.com
POSTGRES_DB=bdp
POSTGRES_PORT=5432
POSTGRES_SCHEMA=intimev2
POSTGRES_USERNAME=bdp
POSTGRES_PASSWORD=password
HIBERNATE_MAX_POOL_SIZE=2

### Logging
# Identification of the log entries, if used together with other applications
# Make sure that the application name and version corresponds to your pom.xml
# "artifactId" and "version".
LOG_APPLICATION_NAME=writer
LOG_APPLICATION_VERSION=6.0.0-SNAPSHOT
LOG_LEVEL=DEBUG
HIBERNATE_SQL_LOG=false

# This is only for local development if you use calls.http for testing
# Get it from your Keycloak user/client configuration
AUTH_TEST_USERNAME=
AUTH_TEST_PASSWORD=
AUTH_TEST_CLIENT_SECRET=
