__DEPRECATED__
_site/
.*.md.html
.#*
.classpath
.DS_Store
.env
.factorypath
.flattened-pom.xml
.gradle
.gradletasknamecache
.idea
.metadata
.mvn
.project
.recommenders
.settings
.springBeans
.sts4-cache
.vscode
*.backup
*.class
*.code-workspace
*.diste
*.iml
*.ipr
*.iws
*.jar
*.mde
*.old
*.orig
*.she
*.sqle
*.sw?
*.xmle
*#
*~
/build
/code
/tmp
activemq-data
application-*.properties
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
MANIFEST.MF
manifest.yml
overridedb.*
schema-*-dump.sql
secrets.yml
settings.xml
target/
transaction-logs
.m2/
