# Local server
server.port = 8081

# Logging
logging.level.root = INFO
logging.level.org.springframework.jdbc.core = TRACE
logging.level.it.bz.idm.bdp.ninja = INFO
logging.file=ninja.log

# Compression
server.compression.enabled = true
server.compression.mime-types = text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
server.compression.min-response-size = 1024

# Security
ninja.security.cors.allowed-origins = *
keycloak.auth-server-url=http://keycloak:8080/auth
keycloak.ssl-required=external
keycloak.realm=noi
keycloak.resource=odh-mobility-v2
keycloak.use-resource-role-mappings=true
keycloak.credentials.secret=
keycloak.public-client=false
keycloak.bearer-only=true

# Swagger
ninja.swagger.readme-url = TODO
