openapi: 3.0.1
info:
  title: Open Data Hub Mobility API
  description: >
    More information about the project: <a
    href="https://github.com/noi-techpark/bdp-core/blob/development/ninja/README.md">Tutorials
    and technical documentation</a>
  termsOfService: >
    https://opendatahub.readthedocs.io/en/latest/licenses.html#apis-terms-of-service
  contact:
    name: Open Data Hub
    url: https://opendatahub.bz.it
    email: help@opendatahub.bz.it
  license:
    name: API License
    url: https://opendatahub.readthedocs.io/en/latest/licenses.html
  version: V1 and V2
servers:
  - url: https://mobility.api.opendatahub.testingmachine.eu
  - url: https://mobility.api.opendatahub.bz.it
  - url: https://tomcatsec.testingmachine.eu
  - url: http://tomcat.testingmachine.eu
tags:
  - name: Mobility V2
    description: New Generic Data Controller to retrieve all kinds of data
  - name: Mobility V1 - Bikesharing
    description: <u>Deprecated</u> Controller for Bikesharing Data
  - name: Mobility V1 - Bluetooth
    description: <u>Deprecated</u> Controller for Bluetooth Data
  - name: Mobility V1 - Carpooling
    description: <u>Deprecated</u> Controller for Carpooling Data
  - name: Mobility V1 - Carsharing
    description: <u>Deprecated</u> Controller for Carsharing Data
  - name: Mobility V1 - Emobility
    description: <u>Deprecated</u> Controller for Emobility Data
  - name: Mobility V1 - Environment
    description: <u>Deprecated</u> Controller for Environment Data
  - name: Mobility V1 - Meteorology
    description: <u>Deprecated</u> Controller for Meteorology Data
  - name: Mobility V1 - Origin/Destination
    description: <u>Deprecated</u> Controller for Origin/Destination Data
  - name: Mobility V1 - Parking
    description: <u>Deprecated</u> Controller for Parking Data
  - name: Mobility V1 - Roadweather
    description: <u>Deprecated</u> Controller for Roadweather Data
  - name: Mobility V1 - Sensors
    description: <u>Deprecated</u> Controller for Sensors Data
  - name: Mobility V1 - Street
    description: <u>Deprecated</u> Controller for Street Data
  - name: Mobility V1 - VMS
    description: <u>Deprecated</u> Controller for VMS Data
paths:

  # V2 ----------------------------------------------------------------------------------------
  /v2/:
    get:
      tags:
        - Mobility V2
      summary: View a list of all station types (categories)
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v2/{representation}/{stationTypes}:
    get:
      tags:
        - Mobility V2
      summary: View details of all given station types
      description:
        You can put multiple station types as comma-seperated list.<br>The
        response is a tree of <code>station-type / station-name</code>.
      parameters:
        - $ref: "#/components/parameters/representation"
        - $ref: "#/components/parameters/stationTypes"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/select"
        - $ref: "#/components/parameters/where"
        - $ref: "#/components/parameters/shownull"
        - $ref: "#/components/parameters/distinct"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v2/{representation}/{stationTypes}/{dataTypes}:
    get:
      tags:
        - Mobility V2
      summary:
        View details of all given station types including data types and most-recent
        measurements
      description:
        You can put multiple station or data types as comma-seperated lists.<br>The
        response is a tree of <code>station-type / station-name / data-type /
        measurements</code>.
      parameters:
        - $ref: "#/components/parameters/representation"
        - $ref: "#/components/parameters/stationTypes"
        - $ref: "#/components/parameters/dataTypes"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/select"
        - $ref: "#/components/parameters/where"
        - $ref: "#/components/parameters/shownull"
        - $ref: "#/components/parameters/distinct"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v2/{representation}/{stationTypes}/{dataTypes}/{from}/{to}:
    get:
      tags:
        - Mobility V2
      summary:
        View details of all given station types including data types and historical
        measurements
      description:
        You can put multiple station or data types as comma-seperated
        lists.<br>The response is a tree of <code>station-type / station-name /
        data-type / measurements</code>.
      parameters:
        - $ref: "#/components/parameters/representation"
        - $ref: "#/components/parameters/stationTypes"
        - $ref: "#/components/parameters/dataTypes"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/select"
        - $ref: "#/components/parameters/where"
        - $ref: "#/components/parameters/shownull"
        - $ref: "#/components/parameters/distinct"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 PARKING ----------------------------------------------------------------------------------
  /v1/parking/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-records:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/access-token:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/parking/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Parking
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 BIKESHARING ------------------------------------------------------------------------------
  /v1/bikesharing/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-records:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/access-token:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bikesharing/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Bikesharing
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 BLUETOOTH -------------------------------------------------------------------------------
  /v1/bluetooth/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-records:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/access-token:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/bluetooth/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Bluetooth
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 CARPOOLING ------------------------------------------------------------------------------
  /v1/carpooling/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-records:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/access-token:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carpooling/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Carpooling
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 CARSHARING ------------------------------------------------------------------------------
  /v1/carsharing/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-records:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/access-token:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/carsharing/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Carsharing
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 EMOBILITY ------------------------------------------------------------------------------
  /v1/emobility/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-records:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/access-token:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/emobility/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Emobility
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 ENVIRONMENT -----------------------------------------------------------------------------
  /v1/environment/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-records:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/access-token:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/environment/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Environment
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 METEOROLOGY -----------------------------------------------------------------------------
  /v1/meteorology/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-records:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/access-token:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/meteorology/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Meteorology
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 ORIGIN-DESTINATION ----------------------------------------------------------------------
  /v1/origin-destination/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-records:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/access-token:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/origin-destination/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Origin/Destination
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 ROADWEATHER -----------------------------------------------------------------------------
  /v1/roadweather/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-records:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/access-token:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/roadweather/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Roadweather
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 SENSORS ---------------------------------------------------------------------------------
  /v1/sensors/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-records:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/access-token:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/sensors/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Sensors
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 STREET ----------------------------------------------------------------------------------
  /v1/street/rest/get-stations:
    get:
      tags:
      - Mobility V1 - Street
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - Street
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - Street
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - Street
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - Street
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-records:
    get:
      tags:
      - Mobility V1 - Street
      summary: Returns all the data in the last given seconds.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/get-records-in-timeframe:
    get:
      tags:
      - Mobility V1 - Street
      summary: Return for a given station the data acquired in a given interval.
      description: Show all the data recorded in the given interval. Remember to convert
        any date into milliseconds from epoch.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
        required: true
      - $ref: "#/components/parameters/v1seconds"
        required: true
      - $ref: "#/components/parameters/v1from"
        required: true
      - $ref: "#/components/parameters/v1to"
        required: true
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/access-token:
    get:
      tags:
      - Mobility V1 - Street
      summary: Request a new access token
      description: This method would give you a new token to access protected data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/street/rest/refresh-token:
    get:
      tags:
      - Mobility V1 - Street
      summary: Request a new authorisation token to access protected data.
      description: If you need to access protected, closed data and you have been
        given a username and password, invoke this method to receive a new token.
      parameters:
      - $ref: "#/components/parameters/v1user"
        required: true
      - $ref: "#/components/parameters/v1password"
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtTokenDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}

  # V1 VMS -------------------------------------------------------------------------------------
  /v1/vms/rest/get-stations:
    get:
      tags:
      - Mobility V1 - VMS
      summary: Retrieve all stations in the dataset.
      description: This method returns all the ID of the stations listed in the dataset.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/vms/rest/get-station-details:
    get:
      tags:
      - Mobility V1 - VMS
      summary: Retrieve all information about all stations.
      description: This method returns the list of all stations in the dataset, including
        all available information about them.
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/vms/rest/get-data-types:
    get:
      tags:
      - Mobility V1 - VMS
      summary: Return the available data types for that station.
      parameters:
      - $ref: "#/components/parameters/v1station"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/vms/rest/get-date-of-last-record:
    get:
      tags:
      - Mobility V1 - VMS
      summary: Return the timestamp of the latest recorded action for that station.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: date-time
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /v1/vms/rest/get-newest-record:
    get:
      tags:
      - Mobility V1 - VMS
      summary: Return the timestamp and value of the latest recorded data.
      parameters:
      - $ref: "#/components/parameters/v1authorization"
      - $ref: "#/components/parameters/v1station"
        required: true
      - $ref: "#/components/parameters/v1type"
      - $ref: "#/components/parameters/v1period"
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlimRecordDto'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
[...]
