{
  "realm": "<realm>",
  "bearer-only": true,
  "auth-server-url": "<authserver>",
  "ssl-required": "external",
  "resource": "<resource client>",
  "verify-token-audience": true,
  "use-resource-role-mappings": true,
  "confidential-port": 0
}
